<!-- Navigation-->
<!-- se llama a la funcion scroll para que valide si se coloca una class css u otra -->
<nav (scroll)="onScroll()" [ngClass]="scrollTop ? '': ''" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" routerLink="">HOWARD</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="">Casa de Estudio</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/estudiantes">Estudiantes</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/profesores">Profesores</a></li>
            </ul>
        </div>
    </div>
</nav>